body{
    background-color: #FFFFFF;
}
h1{
    color: #000000;
    text-align: center;
}
table{
    width:50%;
    height:35%;
    margin-left:auto;
    margin-right:auto;
}
td, th{
    text-align: center;
    border: 2px solid black;
    padding: 1%;
    background-color: #E5DFDC;
}
caption{
    text-align: left;
}
footer{
    text-align: center;
}